<?xml version="1.0" encoding="UTF-8"?>
<launch>


    <arg name="role_name" default='ego_vehicle'/>
    <arg name="spawn_point" default='189.4,-71,2,0,0,-90'/>
    <arg name="town" default='Town05'/>
    <arg name='synchronous_mode_wait_for_vehicle_control_command' default='True'/>
    <arg name='fixed_delta_seconds' default='0.02'/>

    <!-- "PurePursuit", "Stanley", "LQR_kinematics" "LQR_dynamics" -->
    <include file="$(find carla_ros_bridge)/launch/carla_ros_bridge_with_example_ego_vehicle.launch">
        <arg name='spawn_point' value='$(arg spawn_point)'/>
        <arg name='town' value='$(arg town)'/>
        <arg name='synchronous_mode_wait_for_vehicle_control_command' value='$(arg synchronous_mode_wait_for_vehicle_control_command)'/>
        <arg name='fixed_delta_seconds' value='$(arg fixed_delta_seconds)'/>
    </include>

    <include file="$(find carla_waypoint_publisher)/launch/carla_waypoint_publisher.launch" />


  

  <node pkg="lqr_control" type="lqr_control_node" name="lqr_control_node" output="screen">
    <param name="vehicle_odom_topic" value="/carla/ego_vehicle/odometry" />
    <param name="vehicle_cmd_topic" value="/carla/ego_vehicle/vehicle_control_cmd" />
    <param name="roadmap_path" value="$(find lqr_control)/data/reference_line.txt" />
    <param name="target_speed" value="10" />
    <param name="goal_tolerance" value="0.5" />
    <param name="control_frequency" value="100" />
    <param name="vis_frequency" value="0.5" />
    <param name="path_vis_topic" value="path_vis" />
    <param name="speed_P" value="1.5" />
    <param name="speed_I" value="0.1" />
    <param name="speed_D" value="0" />
    <param name="frame_id" value="map" />
  </node>
  <node name="rviz" pkg="rviz" type="rviz"  args="-d $(find lqr_control)/rviz/lqr_control.rviz"> </node>
</launch>